extends layout

block content
  h1 Search
  div.example
    input#search_box(type='text', name='search', autocomplete="off", value=query)
    button#search_button(type='submit', onclick="search_query(document.getElementById('search_box').value)")
      i.fa.fa-search

  #search_results
    h3.font-grey #{length} results for #{query}

    each val, index in data
      .result-card
          h4= val.text
          h5.font-grey= 'Project Number: ' + val.project_no
          h5.font-grey= 'Country: ' + val.country
          h5.font-grey= 'Title: ' + val.title
      br
    br
    