extends layout

block content
  h1 Search
  div.example.search
    input#search_box(type='text', name='search', autocomplete="off", value=query)
    button#search_button(type='submit', onclick="get_problems()")
      i.fa.fa-search
    button#clear_button(type='submit', onclick="clear_input_field()")
      i.fa.fa-times
    br
    div#autosuggest
  #related_results
    each keyword in data['related_keywords']
      span(onclick="update_search_box(event)").bg-grey.tag-input #{keyword}

  h3.font-grey 
    span#result_count Results 1 to #{length} of #{length} for #{query} &nbsp;&nbsp;
    span.bg-grey.tag-input(onclick='reset_problems_div()') Reset

  hr
  
  #search_results
    #left-card.bg-white.height-500px
        each val, index in data['data']
          .result-card  
              h4.font-blue.cursor-pointer.capitalize
               input(type='checkbox', onclick="select_problem(event)")
               span(onclick='get_cause_effects(event)') #{val.text}
              a(href=val.link, target="_blank")
                p.cursor-pointer= val.title
              p.font-grey Project Number: #{val.project_no}
                | | Country: #{val.country}
                | | Section: #{val.section}
              
              span(onclick="filter_keyword(event, 'source')").bg-orange.tag-input #{val.source}
              each tag in val.match
                span.bg-blue.tag-input(onclick='filter_keyword(event, "problem")') #{tag}

          // check if hr needs to be added
          unless index == data.length-1
            hr

    #middle-card.bg-white.with-padding.height-500px.hidden
      h3 
        span.bg-red.tag-input(onclick='filter_by_type("cause")').cursor-pointer#cause_count
        span.bg-green.tag-input(onclick='filter_by_type("effect")').cursor-pointer#effect_count
        span.bg-grey.tag-input(onclick='reset_cause_effect_div()') Reset             
      hr
      #cause-effect-card


      

  br

  script.
    data=!{JSON.stringify(data)}
    api_output_problems = data['data']
