extends layout

block content
  h1 Search Problems
  div.example.search
    input#search_box(type='text', name='search', autocomplete="off", value=query, placeholder='Enter your topic or keywords here')

    button#search_button(type='submit', onclick="get_problems()")
      i.fa.fa-search
    button#clear_button(type='submit', onclick="clear_input_field()")
      i.fa.fa-times
    br
    div#autosuggest

  #related_results
    b.font-blue Related topics: 
    each keyword in data['related_keywords']
      span(onclick="update_search_box('"+ keyword + "')").bg-grey.tag-input #{keyword}

  h3.font-grey 
    span#result_count #{length} problems found for  
      i.font-blue #{query}
    span.bg-grey.tag-input.margin-10(onclick='reset_problems_div()') Show All
    span.bg-red.

  hr
  
  #search_results
    #left-card.bg-white.height-500px
        each val, index in data['data']
          .result-card  
              h3.font-blue.cursor-pointer.capitalize
               input(type='checkbox', onclick="select_problem(event)")
               span(onclick='update_index(0);get_cause_effects(event);this.previousSibling.click()') #{val.text}
              a(href=val.link, target="_blank")
                p.cursor-pointer= val.title
              p.font-grey Project Number: #{val.project_no}
                | | Country: #{val.country}
                | | Section: #{val.section}
              
              span(onclick="filter_keyword(event, 'source')").bg-orange.tag-input 
                |Document: #{val.source}
              each tag in val.match
                span.bg-blue.tag-input(onclick='filter_keyword(event, "problem")') #{tag}

          // check if hr needs to be added
          unless index == data.length-1
            hr

    #middle-card.bg-light-grey.with-padding.height-500px.hidden
      span.bg-white.tag-input(onclick='update_index(0);reset_cause_effect_div()')#all_count All
      span.bg-grey.tag-input(onclick='update_index(1);filter_by_type("cause")')#cause_count Cause
      span.bg-grey.tag-input(onclick='update_index(2);filter_by_type("effect")')#effect_count Effect
      button.bg-grey.myButton(onclick='get_problem_tree()').cursor-pointer Generate Tree
                
      #cause-effect-card


    
  br

  script.
    data=!{JSON.stringify(data)}
    api_output_problems = data['data']
